header.mdl-layout__header.mdl-layout__header--waterfall
  div.mdl-layout__header-row
    // Title
    span.mdl-layout-title
      | Alfred
    .mdl-layout-spacer

    nav.mdl-navigation.mdl-layout--large-screen-only
      a.mdl-navigation__link.mdl-typography--text-uppercase(href='#') Home
      a.mdl-navigation__link.mdl-typography--text-uppercase(href='#') About
      a.mdl-navigation__link.mdl-typography--text-uppercase(href='#') Contact
.mdl-layout__drawer
  span.mdl-layout-title
      | Alfred
  nav.mdl-navigation
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='#') Home
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='#') About
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='#') Contact