header
  div
    ul.navbar
      li
        a(href="/about") About
      li
        a(href="https://github.com/jkao1/alfred-prufrock-app") Github
      li
        a(href="https://devpost.com/software/free-write") Devpost
      li
        a(href="") Alfred Editor