extends layout

block content
  div#container
    div#editor(contenteditable)
    div#tree-container
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin="anonymous")
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="/js/tree.js")
    script.
      function setEndOfContenteditable(contentEditableElement)
      {
        var range, selection;
        if(document.createRange)//Firefox, Chrome, Opera, Safari, IE 9+
        {
            range = document.createRange();//Create a range (a range is a like the selection but invisible)
            range.selectNodeContents(contentEditableElement);//Select the entire contents of the element with the range
            range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
            selection = window.getSelection();//get the selection object (allows you to change selection)
            selection.removeAllRanges();//remove any selections already made
            selection.addRange(range);//make the range you have just created the visible selection
        }
        else if(document.selection)//IE 8 and lower
        { 
            range = document.body.createTextRange();//Create a range (a range is a like the selection but invisible)
            range.moveToElementText(contentEditableElement);//Select the entire contents of the element with the range
            range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
            range.select();//Select the range (make it the visible selection
        }
      }
    script.
      const editor = document.getElementById('editor');
      let leafNumber = 0;
      editor.addEventListener("input", function() {
        const text = document.getElementById('editor').innerHTML;
        const lastSentence = text.substring(text.length - 7) === ".&nbsp;" ?
          text.substring(text.substring(0, text.lastIndexOf(".")).lastIndexOf(".")) :
          text.substring(text.lastIndexOf("."));
        console.log(lastSentence);
        if (text.substring(text.length - 6) === "&nbsp;") {
          $.post('/language', {"text": lastSentence}, res => {
            const { entity } = res;
            if (entity && entity.name.indexOf(" ") === -1) {
              tree.addLeaf(leafNumber, entity.name);
              leafNumber++;
              const atEndOfSentence = text.substring(text.length - 7) === ".&nbsp;";
              editor.innerHTML = text.substring(
                0, 
                text.length - (atEndOfSentence ? 7 : 6) - entity.name.length
              ) + `<a href="" class="red-1">${entity.name}${atEndOfSentence ? "." : ""}</a>&nbsp;`;
              setEndOfContenteditable(editor);
            }
          });
        }
      }, false);

















