extends layout

block content
  link(rel='stylesheet', href='/css/timeline.css')
  script(type='text/javascript' src="http://d3js.org/d3.v3.min.js")
  script(type='text/javascript' src="/js/timeline.js")