*, *:before, *:after, html{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
} html {
  position: relative;
  min-height: 100%;
}

.header {
  width: 100%;
  height: 200px;
  position: fixed;
  z-index: 100;
  margin-bottom: 100px;
}
body{
  display: flex;
  flex-direction: column;
}
#container {
  display: table;
  width: 100%;
  height: 100%;
}

#editor {
  display: table-cell;
  border: 1px solid #000;
  padding: 7px;
  width: 50%;
  vertical-align: top;
  max-height: 100px;
    overflow: auto;
}
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 240px;
}
#tree-container {
  overflow: scroll;
  display: table-cell;
  width: 100%;
}

svg#treesvg {
  width: 99%;
  height: 100%;
}

circle{
  fill:white;
  stroke:steelblue;  
  stroke-width:2px;
}
line{
  stroke:grey;
  stroke-width:3px;
}
.incRect{
  stroke:grey;
  shape-rendering:crispEdges;
}
#incMatx text{
  text-anchor:middle;
  cursor:default;
}
#treesvg g text:hover, #treesvg g circle:hover{
  cursor:pointer;
}
#navdiv{
  background:#555;
}
#treesvg{
  border:1px solid grey;
}
#labelpos{
  color:white;
}
#navdiv button, #navdiv textarea{
  vertical-align:middle;
}
#g_labels text{
  text-anchor:middle;
}
#g_elabels text{
  text-anchor:middle;
  fill:red;
  font-weight:bold;
}

#navdiv {
  display: none;
}
g#incMatx {
  display: none;
}